<div id="name" class="grid_12">

<h2>About this Application</h2>
<p>This application was created to explore the use of ArcGIS Server in conjunction with a
	Ruby on Rails application. </p>
	
	<h2>Tools Utilized</h2>
	<ul>
		<li>Ruby 1.8.7</li>
		<li>Rails 2.3.5</li>
		<li>HTTParty</li>
		<li>HandSoap</li>
		<li>Savon</li>
		</ul>
</div>